<div class="about-us-img">
  <img src="assets/img/Aboutus.jpg/">
</div>

<div class="aboutus" align="left">
  <h3 style="color:blue" align="center"><b>About AVID Tech</b></h3>
  <h4>
    We,the free-minded people,were we make open source work for you.Our products help Web designers and Web developers save time and money and create magic for their customers.
    We Design better, clean, responsive, attractive.   We design and develope products which are easy to understand and easy to use
    As per user requirement we customize software.
  </h4>

  <h3 style="color:blue" align="center"><b>Our Mission</b></h3>
  <h4 align="center"><b>Offer the customer the best possible service.</b></h4>

</div>

<div class="button" align="center">
  <input type="button" value="Get in Touch" [routerLink]="['../contactus']" class="btn-primary">
  
</div>


<diV align="center" style="background:black">
  <h3 style="color:white">Follow us on</h3>
    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a>
    <a href="https://www.google.com/" class="fa fa-google"></a>
    <a href="https://www.linkedin.com/start/join" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
  
   
   </diV>

 