<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="heading" style="text-align:center">
  <nav class="navbar navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:white">AVID TECH</a>
      </div>
      <ul class="nav navbar-nav navbar-fixed nevbar-right">
         <li class="active"><a  routerLink="/home" style="color:white">Home</a></li> 
        <li><a routerLink="/aboutus" style="color:white">About Us</a></li>
        <li><a routerLink="/services" style="color:white">Services</a></li>
        <li><a routerLink="/portfolio" style="color:white">Portfolio</a></li>
        <li><a routerLink="/contactus" style="color:white">Contact Us</a></li>
        <li>
          <div class="search">
            <input type="text" placeholder="search text goes here">
            <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          </div>
        </li>
      </ul>
    </div>

   
    
    <ul>
      <li *ngFor="let c of characters">
        {{c}}
      </li>
    </ul>
  </nav>
  

  
   
  

</div>






<router-outlet></router-outlet>













