<div class="servicesheading" align="center">
  <h2 style="color:brown"><b>What we do?</b></h2><br><br>
  <h4 style="color:steelblue">Our expertise in Web Development, Logo Desinging, E-Commerce Development, Apps etc.</h4> 
  <hr width="50%">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <span class="glyphicon glyphicon-edit logoservices">
                <h3><b>Web Designing</b></h3>
                <h4>We Create Modern, Responsive, Attractive & clean Websites for you</h4>
              </span>
        </div>
      
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <span class="glyphicon glyphicon-apple logoservices">
                <h3><b>Logo Designing</b></h3>
                <h4>Logo is a Graphic mark,Emblem,or Symbol used to Aid and promote Public Recognition.</h4>
              </span>
        </div>
      
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <span class="glyphicon glyphicon-globe logoservices">
                <h3><b>Web App Development</b></h3>
                <h4>We work with Great Zeal to Bring Innovative and User friendly Application.</h4>
              </span>
        </div>
      
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <span class="glyphicon glyphicon-shopping-cart logoservices">
                <h3><b>Ecommerce Development</b></h3>
                <h4>Get your Online Shop Best Way to Market your Products Online.</h4>
              </span>
        </div>
      
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <span class="glyphicon glyphicon-phone logoservices">
                <h3><b>Mobile App Development</b></h3>
                <h4>We Create Modern, Responsive, Attractive & clean Websites for you</h4>
              </span>
        </div>
      
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <span class="glyphicon glyphicon-th-large logoservices">
                <h3><b>Desktop Based  Application</b></h3>
                <h4>We provide complete software implementaion process starting with Software Design and Development.</h4>
              </span>
        </div>
      
    </div>


   
</div>

<div align="center">
    <input type="button" value="See Our Work" [routerLink]="['../portfolio']" class="btn-primary button">
    
  </div>

  <diV align="center" style="background:black">
    <h3 style="color:white">Follow us on</h3>
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a>
      <a href="https://www.google.com/" class="fa fa-google"></a>
      <a href="https://www.linkedin.com/start/join" class="fa fa-linkedin"></a>
      <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    
     
     </diV>


