<div class="myhome">
  <h1 style="color:blueviolet" align="center"><b>Welcome to AVID Tech</b></h1>
  <carousel>
    <slide>
       <img class="img-main-carousel" src="assets/img/avid.png" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:black">Welcome to</h3> <h1 style="color:blue"><b>AVID Tech</b></h1>
        <h4 style="color:black">Our products help Web designers and Web developers save time and money and create magic for their customers.</h4>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/webdevelopment1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:black">Web Design Clean and Responsive</h3> 
        <h4 style="color:black">Web Design better, clean, responsive, attractive design</h4>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/webdevelopment2.png" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:lightblue">Easy to use </h3>
        <h4 style="color:lightblue">We design and develope products which are easy to understand and easy to use</h4>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/webdevelopment3.png" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:black">Customizable</h3>
        <h4 style="color:black">As per user requirement we customize software.</h4>
      </div>
    </slide>
  </carousel>
  
</div>



<!-- <diV class="footer">
    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a>
    <a href="https://www.google.com/" class="fa fa-google"></a>
    <a href="https://www.linkedin.com/start/join" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
  
   
</diV> -->
   

